.App {
  text-align: center;
}

body {
  background: whitesmoke;
  padding: 10px;
}

h2 {
  color: blue;
}

li {
  animation: animate-li 2s infinite;
}

@keyframes animate-li {

  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

}

